/*--FOOTER--*/

footer {
  background-color: var(--lightgrey);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
  padding: 15px;
  margin-top: 60px;
}

@media  (max-width: 768px) {
   footer {
   background-color: var(--lightgrey);
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: smaller;
   padding: 15px;
   margin-top: 60px;
 }
}
 
