/* NAVBAR */
.a:hover {
    color: var(--blue);
    border-top: 3px solid transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    display: flex;
    padding: 30px;
    border-top: 3px solid transparent;
    
}


#logo {
    margin-right:auto;
    padding: 0 30px;
}

.sub-nav {
    display:flex;
}

.sub-nav a:hover {
    color: var(--blue);
}

@media (min-width:992px) and (max-width:1900px) {
    nav a:hover {
        border-top-color: var(--blue);
    }
    .sub-nav a{
        flex-basis: 100%;
        text-align: center;
        border-bottom:3px solid transparent;
    }
}
@media (min-width:431px) and (max-width:992px) {
    nav a:hover {
        border-top-color:var(--blue);
    }
}
 
@media (max-width: 768px) {
    .sub-nav {
       order: 1;
       flex-basis: 100%;
    }
    
    .sub-nav a{
        flex-basis: 100%;
        text-align: center;
        border-bottom:3px solid transparent;
    }


    .sub-nav :hover {
        border-bottom-color:var(--blue);
        border-top-color: transparent;
    }
}
    @media (max-width:430px) {
        #logo{
         margin-right: auto;
        }

    .a {
        order: 0;
        flex-basis: 100%;
        justify-content: center;
        text-align: center;
        border-bottom: 3px solid transparent;
        margin-bottom: 15px;
    }
    
    nav a:hover{
        border-top-color:transparent;
        border-bottom-color: var(--blue);
    }
    .a:hover{
        border-top-color: transparent;
        border-bottom-color: var(--blue);
    }
    }