
 /*POPULAR*/
 .apartments-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    transition: all 200ms;
}

.apartments-list .popular > div :hover{
    transform: scale(1.02);
}