@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap');
@import url("./css/navbar.css");
@import url("./css/body.css");
@import url("./css/search-form.css");
@import url("./css/filters.css");
@import url("./css/results-message.css");
@import url("./css/apartments-list.css");
@import url("./css/popular.css");
@import url("./css/apartment.css");
@import url("./css/popular-card.css");
@import url( "./css/Activities.css");
@import url("./css/footer.css");

:root {
   --darkshadow: #0000002e;
   --blue: #0064fa;
   --darkgrey: #d9d9d9;
   --lightgrey: #d3d3d3;
   --lightblue: #deebff;
   --lighterblue: #f3f8ff;
}


/* NAVBAR */
.a:hover {
    color: var(--blue);
    border-top: 3px solid transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    display: flex;
    padding: 30px;
    border-top: 3px solid transparent;
    
}


#logo {
    margin-right:auto;
    padding: 0 30px;
}

.sub-nav {
    display:flex;
}

.sub-nav a:hover {
    color: var(--blue);
}

@media (min-width:992px) and (max-width:1900px) {
    nav a:hover {
        border-top-color: var(--blue);
    }
    .sub-nav a{
        flex-basis: 100%;
        text-align: center;
        border-bottom:3px solid transparent;
    }
}
@media (min-width:431px) and (max-width:992px) {
    nav a:hover {
        border-top-color:var(--blue);
    }
}
 
@media (max-width: 768px) {
    .sub-nav {
       order: 1;
       flex-basis: 100%;
    }
    
    .sub-nav a{
        flex-basis: 100%;
        text-align: center;
        border-bottom:3px solid transparent;
    }


    .sub-nav :hover {
        border-bottom-color:var(--blue);
        border-top-color: transparent;
    }
}
    @media (max-width:430px) {
        #logo{
         margin-right: auto;
        }

    .a {
        order: 0;
        flex-basis: 100%;
        justify-content: center;
        text-align: center;
        border-bottom: 3px solid transparent;
        margin-bottom: 15px;
    }
    
    nav a:hover{
        border-top-color:transparent;
        border-bottom-color: var(--blue);
    }
    .a:hover{
        border-top-color: transparent;
        border-bottom-color: var(--blue);
    }
    }

    /*wildcard*/

* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif"; 
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 30px;
}

a {
    color: inherit;
    text-decoration: none; 
    
}





main p {

    margin-bottom: 15px;
}

/* SEARCH-FORM*/
.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .search-form > * {
    padding: 8px 15px;
    font-size: 20px;
  }
  
  
  .search-form i { 
    padding: 8px 15px;
    background-color: var(--lightgrey);
    border-radius: 15px 0 0 15px;
    
  }
  
  .search-form input {
    flex-basis: 240px;
    border: 1px solid var(--lightgrey);
    font-size: 15px;
    padding: 15px 22px;
    overflow: auto;
  }
  
  .search-form input::placeholder {
   color: inherit; 
   font-size: 20px;
   font-weight: bold;
  }
  
  .search-form button {
    background-color: var(--blue);
    color:white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 14px 22px;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 200ms;
  }
  
  .search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
  }
  
  .fas.fa-search{
    display: none;
  }
  
  @media (max-width: 768px) {
    .search-form .search-text {
        display: none;
    }
    
    .fas.fa-search {
         display: inline;
         background-color: inherit;
   } 
  }

   /* FILTERS*/
 .filter-list {
    display: flex;
    align-items: center;
    gap: 15px 30px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .filter-list h1 {
    margin-bottom: 0;
  }
  .filter {
   border: 2px solid var(--lightgrey);
   border-radius: 30px;
   display: flex;
   align-items: center;
   transition: all 100ms;
  }
  
    .filter .fa-solid {
      color:var(--blue);
      background-color: var(--lightblue);
      border-radius: 50%;
      margin: -2px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  
  .filter span {
    font-weight: bold;
    padding:0 15px;
  }
  
  .filter:hover {
    background-color: var(--lighterblue);
    transform: scale(1.02);
  }
  /*RESULTS-MESSAGE*/
.results-message {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .results-message .fas {
   color: var(--blue);
   width: 30px; 
   height: 30px;
   border: 1px solid var(--darkgrey);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  /*APARTEMENTS-LIST*/

.apartments-list{
    display: flex;
    gap: 15px;      
  }

  .apartments-list > div{
    background-color: var(--lightgrey);
    padding: 15px;
    border-radius: 15px;
  }
  
  .apartments-list .city {
    flex-basis: 66%;
  }
  .apartments-list .city a {
    font-weight: bold;
  }
  
  .apartments-list .popular {
    flex-basis: 33%;
  }
  /* LIST-APARTMENTS-CITY*/

.city-apartments-list{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin-bottom: 15px;
  transition: all 200ms;
}
.apartments-list .city > div :hover{
   transform: scale(1.02);
}

  
  @media (max-width: 992px){
    .apartments-list{
      flex-direction: column;
    }
  
    .popular {
      order: -1;
    }
  }
  @media (max-width: 768px) {
    .apartments-list .popular-flex {
      overflow: auto;
    }
  }
  @media (max-width:350px) {
    .apartments-list .city-apartments-list{
      overflow: auto;
    }
  }
  @media (max-width:250px) {
    .apartments-list .city h3{
      overflow: auto;
    }
  }
  @media (max-width: 240px) {
    .apartments-list .popular h3 {
      overflow: auto;
    }
  }

  /*POPULAR*/
 .apartments-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    transition: all 200ms;
}

.apartments-list .popular > div :hover{
    transform: scale(1.02);
}
  
  /* APARTMENT-CARD*/

 .apartment-card{
    background-color: white;
    border-radius: 15px;
    padding: 7px;
    box-shadow: 0 0 16px var(--darkshadow);
    flex-grow: 1;
    transition: all 0.2s;
    flex-basis: 30%;
    min-width: 225px;
  }

  .apartment-card img {
    border-radius: 15px 15px 0 0;
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .apartment-card p, 
  .apartment-card h3,
  .popular-description p,
  .popular-description h3{
    margin: 5px;
  }
 .blue {
   color: var(--blue);
 }

 .grey {
   color: var(--darkgrey);
 }
 /* POPULAR-CARD*/
 .popular {
    display: flex;
    flex-direction: column;
  }
  
  .popular-card.apartment-card img{
    height: auto;
    border-radius: 15px 0 0 15px;
    width: 40%;
    margin-right: 7px;
    object-fit: cover;
    object-position: center;
  }

  .popular-description {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
 
  .popular-card {
    display: flex;
    min-width: 280px;
    max-height: 150px;
  }
  .popular-card .stars {
    margin-top: auto;
  }
.popular h3 {
  display: flex;
  justify-content: space-between;
}

.popular h3, .city h3 {
  margin-top: 7px;
}

/*--ACTIVITIES--*/


#activities h2 {
  margin-top: 60px;
}
.activities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activities-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activities-list .bloc_simple{
  transition: all 200ms;
  height: 600px;
  box-shadow: 0 0 10px 0 var(--darkshadow);
}

.activities-list .double_bloc{
  height: 600px;
}

.activities-list > .bloc_simple:hover{
  transform: scale(1.02);
}

.activities-list .column > .double:hover{
  transform: scale(1.02);
}

.activities-list .column .column1 {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.activities-list .column .column1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:25px 25px 0 0 ;
}
.activities-list .column h3 {
  padding: 21px;
  margin: 0px;
}

.activities-list .column .double{
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 var(--darkshadow);
  border-radius: 25px;
  transition: all 200ms;
}

.activities-list .column .double .column1{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.activities-list .column .double .column1 img{
width:100%;
height: 216px;
object-fit: cover;
object-position: center;
border-radius: 25px 25px 0 0;
}

.activities-list .column.double h3{
  padding: 20px;
  height: 50px;
  margin: 0;
}

.activities-list .column.double h3{
  padding: 15px;
  margin: 0;
  align-items: center;
  overflow: auto;
  }

  @media (min-width: 768px) and (max-width: 992px) {
  .activities-list .column {
    width: 47%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
  }
}

 @media (max-width: 768px) {
  .activities-list .column {
    width: 100%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
  }

  .activities-list .column .column1{
  height:80%;
  }
  
  .activities-list .bloc_simple{
    transition: all 200ms;
    height: 280px;
    box-shadow: 0 0 10px 0 var(--darkshadow);
  }
  


 @media (max-width: 290px) {
   .activities-list .column h3{
    overflow: auto;
  }
 }
}

/*--FOOTER--*/

 footer {
   background-color: var(--lightgrey);
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   font-size: smaller;
   padding: 15px;
   margin-top: 60px;
 }

 @media  (max-width: 768px) {
    footer {
    background-color: var(--lightgrey);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: smaller;
    padding: 15px;
    margin-top: 60px;
  }
}
  
 










